h2 {
  font-family: "Sansita", sans-serif;
  font-size: 4rem;
  /* 500% or 15vh or 15 vw
              https://css-tricks.com/almanac/properties/f/font-size/
          */
  padding-top: 4px;
  margin: 0px;
  text-align: center;
}
.card {
  padding: 10px;
}
.center-content {
  text-align: center;
}
#main {
  margin-top: 100px;
}

#googleForm {
  text-align: center;
}

#desc {
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
  /* width: 50%; */
}

/* #c1 {
  width: 37.5%;
  float: left;
  padding: 0px;
  margin: 0px;
}
#c2 {
  width: 57.5%;
  float: right;
  padding: 0px;
  margin: 0px;
} */
/* .placeholder {
  margin: 0px;
} */
.card-body {
  padding: 0px;
}
.accordian-text {
  margin: 10px;
}
